* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  padding: 30px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00BCD4;
}

a:hover {
  cursor: pointer;
  color: #009DD4;
}

.loginContainer {
  width: 300px;
  margin: 0 auto;
}

.loginForm {
  margin-bottom: 15px;
}

.formInputs {
  margin-bottom: 25px;
}

.socialIcons {
  float: right;
  margin-top: 50px;
}

.socialIcons>img {
  margin: 3px;
}

.socialIcons>img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.circularProgress{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index:999;
}
.circularProgress>div{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index:1000;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.messageBox {
	float: left;
	width: 80%;
}

.userList {
	float: left;
	width: 20%;
}